<!DOCTYPE html>
<html>
<head>
  <title>BigData</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%  if current_user %>
<%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
<%  end %>
<%= render :partial => 'layouts/flash_messages' %>
<%= yield %>
</body>
</html>
